.ticket {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  margin-bottom: 10px;

  border: 1px solid #e3e5e8;
  background-color: #f5f7fa;
  border-radius: 6px;
  overflow: hidden;
}

.tickets_info {
  padding: 10px 14px;
  position: relative;

  .ticket_label {
    margin-bottom: 5px;

    small {
      font-size: 12px;
      font-weight: 500;
      color: #647382;
    }
  }

  .ticket_title {
    font-size: 16px;
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 10px;
  }

  .ticket_state {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 54px;
    height: 20px;

    font-size: 11px;
    font-weight: 400;
    line-height: 18px;
    color: #c3c7d0;
    background: #e3e5e8;
    border: 1px solid #c3c7d0;

    border-radius: 10px;

    position: absolute;
    top: 14px;
    right: 14px;

    &.Y {
      color: #0049db;
      background: #f2f6ff;
      border: 1px solid #0049db;
    }

    &.N {
      color: #ff612f;
      background: #ffe2d9;
      border: 1px solid #ff612f;
    }
  }

  .ticket_date {
    font-size: 12px;
    font-weight: 700;
    color: #0049db;
  }
}

.tickets_detail {
  display: flex;
  gap: 4px;

  padding: 10px;
  background-color: #fff;

  span {
    font-size: 10px;
    font-weight: 500;
    color: #708090;

    padding: 4px 4px;
    border: 1px solid #e3e5e8;
    border-radius: 4px;
  }
}
