.main {
    button {
        border-radius: 4px;
        box-shadow: 0 2px 4px 0 rgba(204, 204, 204, 0.2);
        background-color: #ddd;
        font-weight: 700;
        color: #0f2552;
        outline: none;
        border: none;
        cursor: pointer;
        display: block;
        margin: 97px auto 0;
        width: 100%;
        font-size: 14px;
        height: 48px;
        margin: 32px 0 20px;
    }

    .content {
        min-width: 320px;
        margin: 40px auto 0;
    }
}