.navigation {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;

  display: flex;
  align-items: center;

  height: 45px;

  color: black;

  background-color: #e8e8e8;

  ul {
    display: flex;
    flex: 0 0 100vw;
    justify-content: space-evenly;
  }
}

.navIcon {
  width: 30px;
  height: 30px;
  fill: black;
}
