.navigation {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;

  display: flex;
  align-items: center;

  height: 64px;

  color: black;

  background-color: #ffffff;

  ul {
    display: flex;
    flex: 0 0 100vw;
    justify-content: space-evenly;
  }
}

.link {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
  align-items: center;

  font-size: 12px;
  font-weight: 400;
  color: #afb8cb;
  text-decoration: none;
}

.navIcon {
  width: 30px;
  height: 30px;
  fill: black;
}
