.navigation {
  display: flex;
  align-items: center;
  height: 64px;
  width: 100%;
  box-sizing: border-box;

  color: black;

  background-color: #ffffff;

  ul {
    flex: 1;
    display: flex;
    justify-content: space-evenly;
  }
}

.link {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
  align-items: center;

  font-size: 12px;
  font-weight: 400;
  color: #afb8cb;
  text-decoration: none;
}

.icon {
  width: 24px;
  height: 24px;
  padding: 4px;
}

.active {
  font-weight: 700;
  color: #0f2552;
}
